<html>
<head>
    <title>Dog's Melissa Knows-React App Demo</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>
<body>

<div id="root"></div>
<script type="text/babel">
    // define your sub components here
    const Dog = props => {  
        return (
          <div id="select">
              <h2>Select a dog to learn more about it</h2>
                  <ul>
                  {props.dog.map((dog) => (
                      <li key={dog._id}><a href="#" onClick={props.selected}>{dog.name}</a></li>
                  ))}
                  </ul> 
         </div>
        );
    }
        const DogDetails = props => {
        return (
            <div id="details">
                <h2>Details for {props.current.name || "Dog"}</h2>               
               
                <form>
                    Name: <input onChange={props.edit} type="text" name= "name" value={props.current.name || ""}  /><br/>
                    Breed: <input onChange={props.edit} type="text" name= "breed" value={props.current.breed || ""}  /><br/>
                    Age: <input onChange={props.edit} type="text" name= "age" value={props.current.age || ""}  /><br/>
                    Sex: <input onChange={props.edit} type="text" name= "sex" value={props.current.sex || ""} />
                </form>
                <button onClick={props.reset}>Clear</button>
                <button onClick={props.delete}>Delete</button>
                <div id="status"></div>
            </div>
        )
    }
    class App extends React.Component{
      constructor(props){
          super(props);
          this.state = {
            dog: {{{ dogs }}}, 
            currentDog: { } 
          };
          this.selectItem = this.selectItem.bind(this);
          this.resetCurrent = this.resetCurrent.bind(this);
          this.handleDelete = this.handleDelete.bind(this);
       }

      selectItem(event) {
        event.preventDefault();
        const dog= this.state.dog.find(dog => event.target.text===dog.name);
        this.setState({currentDog: dog});
        /*
        ReactDOM.render(<h2></h2>, document.getElementById('details'));
        console.log(event.target.innerText);
        console.log(this.state.currentDog);
        console.log(event.target.innerText);
        */
      }

      handleEdit (event){
        /*
        console.log(event.target.name)
        console.log(event.target.value)
        */
        let newDog= this.state.currentDog;
        this.setState({currentDog: newDog});
      }
      
    handleDelete(){
      fetch(`/delete/${this.state.currentDog.name}`)
      .then((response) =>{
        console.log(response);
      })
        .then((result) =>{
          this.setState({dog: [...this.state.dog.filter(dog => dog.name !==this.state.currentDog.name)]});
          console.log(this.state.dog);
          console.log(this.state.currentDog);
          ReactDOM.render(<h2 id="done">"{this.state.currentDog.name}" Deleted</h2>,document.getElementById('status'));
          this.resetCurrent();
        })
        .catch(err =>console.log(err))

      }

    resetCurrent() {
          this.setState({currentDog: { } })
      }
    
      render() {
        return (
            <div id="display">
            <h1>Welcome to Dogs Melissa Knows</h1> 
            
            <Dog dog={this.state.dog} selected={event => this.selectItem(event)}/>
            <DogDetails current={this.state.currentDog} 
              reset={() => this.resetCurrent()}
              delete={this.handleDelete}/>
           
          </div>
          );
      }
    }
ReactDOM.render( <App />, document.getElementById('root'));
</script>
</body>
</html>